@import '../../styles/utils/_vars.scss';
@import '../../styles/utils/_mixins.scss';

.recipe-list {
  display: flex;
  flex-direction: column;
  gap: $list-gap;

  @include onTablet {
    padding: 30pxx;
  }
}

.media-content {
  padding-right: 20px;
}
