.page-footer {
  padding: 40px 40px 60px;
  background-color: #f2f2f2;

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }
}
